.header {
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin-top: 45px;
  min-height: 74px;
  margin-bottom: 40px;
  margin-left: 15%;
  margin-right: 15%; 
}

@media screen and (max-width: 800px) {
  .header {
    margin-top: 28px;
    min-height: 56px;
    margin-bottom: 38px;
    margin-left: 0;
    margin-right: 0;
  }
}