.popup__close-open-image {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Close-Icon.svg);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  right: -40px;
  top: -40px;
}


.popup__close-open-image:hover {
  opacity: .6;
  transition: opacity .3s linear;
}

@media screen and (max-width: 800px) {
  .popup__close-open-image {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
  } 
}